body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
body, .dancefloor, .container {
  z-index: -9999;
}

.title, .addDancerButton, .startDrain, .cats{
  padding:5px 12px;
  float:right;
}
.topbar{
  z-index: 10000;
  position: absolute;
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  width:20px;
  height:20px;
  border-radius: 50%;
  position:absolute;
}

.baloon.cat{
  background: url('src/img/cupcat.gif') no-repeat center !important;
  background-size: 90% 90% !important;
}
.southPaw.cat {
  background: url('src/img/nyann.gif') no-repeat center !important;
  background-size: 100% 100% !important;
  border-radius: 0;
  width: 90px !important;
  height: 30px !important;
}


.container, .dancefloor{
  height: 100%
}
.draining {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: sink;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-origin: 50% 50%;
}
.left {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: sink;
  /*-webkit-animation-duration: 1.5s;
  -webkit-animation-origin: 50% 50%;*/
}
.right {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: sink;
  /*-webkit-animation-duration: 1.5s;
  -webkit-animation-origin: 50% 50%;*/
}

@-webkit-keyframes sink {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}

@-webkit-keyframes left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
  }
}








